/* Customized tailor-made stylesheet written exclusively and precisely for this very particular website */

/* ############## Custom Fonts ############## */

@font-face {
    font-family: downloaded-krungthep;
    src: url("../fonts/krungthep.ttf") format('truetype'),
         url("../fonts/krungthep.svg") format('svg');
}

/* ############## Container ############## */

:root{
    --header_height: 55px;
    --input_area_width: 82%;
    --submit_button_width: calc(100% - var(--input_area_width));

    --input_container_height: calc(20px + 2*20px); 
    --dialogue_area_height: calc(100% - var(--input_container_height));

    --chat_window_padding: 7px 15px;
    --message_padding: 15px 25px;
    --dialogue_area_padding: 0px 20px;
    --input_area_padding: 20px 30px;

    --message_font_size: 16px;

    --dialogue_area_border_radius: 10px 10px 0px 0px;
    --input_area_border_radius: 0px 0px 0px 10px;
    --submit_button_border_radius: 0px 0px 10px 0px;
}

@media (max-width: 970px) {

    :root{
        --input_area_width: 75%;

        --input_container_height: calc(20px + 2*15px); 

        --chat_window_padding: 0;
        --message_padding: 15px 25px;
        --dialogue_area_padding: 0px 25px;
        --input_area_padding: 15px 25px;    

        --message_font_size: 16px;

        --dialogue_area_border_radius: 0;
        --input_area_border_radius: 0;
        --submit_button_border_radius: 0;
    }

}

html {
    /* background-color:red;*/
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

body {
    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 10;

    margin: 0px;

    height: 100%;
    width: 100%;
    overflow: hidden;

    /* background-color:yellow;*/
    box-sizing: border-box;
}

a {
    color: #fff;
}

.my_container {
    display: grid;

    height: 100%;
    width: 100%;

    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 250px;
    grid-template-areas: "a b" "c b";
}

@media (max-width: 970px) {

    .my_container {        
        grid-template-columns: 100%;
        grid-template-rows: var(--header_height) calc(100% - var(--header_height));
        grid-template-areas: "a" "b";
    }

}


/* ############## Header ############## */

header {

    grid-area: a;

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    text-align: center;

    background-color:#1D1F26;

}

@media (max-width: 800px) {
    header {
        display: flex;
    }
}

#brand {
    font-family: krungthep, downloaded-krungthep;
    font-size: 20px;

    margin: 15px 0px;
}

@media (max-width: 800px) {
    #brand {
        width: 100%;
        align-self: center;
    }
}

#brand a {
    text-decoration: none;
}

#brand-logo {
    font-size: 30px;
}

/* ############## Footer ############## */

footer {

    grid-area: c;

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    text-align: center;
    font-family: krungthep, downloaded-krungthep;
    font-size: 12px;

    color:#fff;
    background-color:#1D1F26;

    padding: 0 15px;
    padding-top: 165px;
}

@media (max-width: 1192px) {

    footer {
        padding-top: 150px;
    }

}

@media (max-width: 849px) {

    footer {
        padding-top: 135px;
    }

}

@media (max-width: 800px) {

    footer {
        display: none;
    }

}

#footer_container {
    text-align: center;
    overflow-wrap: break-word;
}

#footer_text {
    margin-bottom: 8px;
}

/* ############## Infos Site ############## */

#footer_sns {
    display: inline-block;
}

#footer_sns a {
    text-decoration: none;
}

#footer_sns span {
    margin-left: 2px;
}

/* ############## Chat ############## */

#chat_window {

    grid-area: b;

    height: 100%;
    width: 100%;

    background-color: #1C2E40;

    padding: var(--chat_window_padding);
    box-sizing: border-box;
}

/* ############## Chat (Dialogue) ############## */

#dialogue_container {
    height: 100%;
    width: 100%;
    background-color:#1C2E40;
}

#dialogue_area {
    height: var(--dialogue_area_height);
    width: 100%;

    overflow: auto; 

    color:#fff;
    background-color:#1D1F26;

    padding: var(--dialogue_area_padding);
    box-sizing: border-box;
    border-top: 10px solid #1D1F26;
    border-radius: var(--dialogue_area_border_radius);
}

.message_container {
    width: max-content;
    max-width: 75%;

    margin: 10px 0; 
}

@media (max-width: 1350px) {

    .message_container {
        max-width: 85%;
    }

}

@media (max-width: 1050px) {

    .message_container {
        max-width: 90%;
    }

}

@media (max-width: 800px) {

    .message_container {
        max-width: 100%;
    }
}

.message_container.grandpy_type {
    margin-right: auto; 
}
.message_container.user_type {
    margin-left: auto; 
}

.message {
    font-size: var(--message_font_size);
    text-align: justify;
    overflow-wrap: break-word;

    background-color: #1C2E40;
    /* background: linear-gradient(135deg, #0f2e40, #1C2E40); */

    padding: var(--message_padding);
    box-sizing: border-box;
}

.user {
    font-family: Verdana;
    border-radius: 20px 20px 0px 20px;
}

.grandpy {
    font-family: krungthep, downloaded-krungthep;
    border-radius: 20px 20px 20px 0px;
}

.user + .profile_icon {
    text-align: right;
    margin: 0 -10px 0 0;
}

.grandpy + .profile_icon {
    text-align: left;
    margin: 0 0 0 -10px;
}

.loading {
    color: #fff;
    margin: 10px 0;
}

.map {
    height: 40vh;
    width: 100vw;
    max-width: calc(100% + 2*30px);

    margin: -15px -25px;

    border-radius: 10px 10px 10px 0;
}

@media (max-width: 800px) {
    .map {
        height: 50vh;
    }
}

/* ############## Chat (Input) ############## */

#input_container {
    display: flex;

    height: var(--input_container_height); 
    width: 100%;

    box-sizing: border-box;
}

#input_area {
    resize: none;
    border: none;
    margin: 0px;

    flex-basis: var(--input_area_width);
    /* height: 100%; */

    font-family: Verdana; /* A remplacer */
    font-size: var(--message_font_size);
    color:#fff;

    background-color:#1D212A;

    padding: var(--input_area_padding);
    box-sizing: border-box;
    border-radius: var(--input_area_border_radius);

    transition: border, box-shadow 1500ms ease-out;
}

#input_area:focus {
    outline: none;

    border: 1px solid #51CBEE;

    -webkit-box-shadow: 0px 0 5px #51CBEE;
    box-shadow: 0px 0 5px #51CBEE;
}

#submit_button {
    --webkit-appearance: none;
    border: none;
    margin: 0;
    padding: 0;

    display: flex;

    flex-basis: var(--submit_button_width);
    /* height: 100%; */

    color: #fff;
    background-color: #182736;
    border-radius: var(--submit_button_border_radius);
}

#submit_button:focus {    
    outline: none;
}

@media (pointer: fine) {
    #submit_button:hover {    
        color: #182736;
        background-color: #fff;
    }
}

#envelope {
    font-size: 25px;
    margin: auto;
}

/* ############## Animations (modifié d'une bibliothèque) ############## */

/* Credits : (faut chercher) */

@keyframes ld-spin {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@-webkit-keyframes ld-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ld.ld-spin {
    -webkit-animation: ld-spin 1s infinite;
    animation: ld-spin 1s infinite;
}

.ld-square {
    width: 1em;
    height: 1em;
    position: relative;
    color: inherit;
    display: block;
}

.ld-square:after {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    background: center center no-repeat currentColor;
    background-size: cover;
}